version: '3'

services:
  redis:
    image: redis
    ports:
      - '6379:6379'
    restart: always

  nginx:
    build:
      context: ./
      dockerfile: docker/nginx/Dockerfile
    depends_on:
      - node
    environment:
      - NODE_HOST=node
      - NODE_PORT=3000
    ports:
      - '20180:80'
    restart: always
    volumes:
      - ./docker/nginx/templates/global:/etc/nginx/templates/global
      - ./docker/nginx/templates/server:/etc/nginx/templates/server

  node:
    build:
      context: ./
      dockerfile: docker/node/Dockerfile
    depends_on:
      - redis
    env_file: .env
    environment:
      - HTTPS_KEY=
      - HTTPS_CERT=
      - NUXT_STOREFRONT_REDIS_HOST=redis
      - NUXT_STOREFRONT_REDIS_PORT=6379
      - NUXT_STOREFRONT_REDIS_PREFIX=redis://
    ports:
      - '3000:3000'
    restart: always
    volumes:
      - ./.output:/app
