version: '3'

services:
  redis:
    image: redis
    ports:
      - '6379:6379'
    restart: always

  nginx:
    build:
      context: ./
      dockerfile: docker/nginx/Dockerfile
    depends_on:
      - bun
    env_file: .env
    environment:
      - APP_HOST=bun
      - APP_PORT=3001
    ports:
      - '80:80'
      - '443:443'
    restart: always
    volumes:
      - ./docker/nginx/templates/global:/etc/nginx/templates/global
      - ./docker/nginx/templates/server:/etc/nginx/templates/server

  #  node:
  #    build:
  #      context: ./
  #      dockerfile: docker/node/Dockerfile
  #    depends_on:
  #      - redis
  #    environment:
  #      - HTTPS_KEY=
  #      - HTTPS_CERT=
  #      - NITRO_HOST=node
  #      - NITRO_PORT=3000
  #      - NUXT_STOREFRONT_REDIS_HOST=redis
  #      - NUXT_STOREFRONT_REDIS_PORT=6379
  #      - NUXT_STOREFRONT_REDIS_PREFIX=redis://
  #    ports:
  #      - '3000:3000'
  #    restart: always
  #    volumes:
  #      - ./.env:/app/.env

  bun:
    build:
      context: ./
      dockerfile: docker/bun/Dockerfile
    depends_on:
      - redis
    environment:
      - HTTPS_KEY=
      - HTTPS_CERT=
      - NITRO_HOST=bun
      - NITRO_PORT=3001
      - NUXT_STOREFRONT_REDIS_HOST=redis
      - NUXT_STOREFRONT_REDIS_PORT=6379
      - NUXT_STOREFRONT_REDIS_PREFIX=redis://
    ports:
      - '3001:3001'
    restart: always
    volumes:
      - ./.env:/app/.env
