@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus-visible {
    @apply outline outline-offset-0 outline-indigo-200 ring-0;
  }

  html {
    scrollbar-gutter: stable;
  }
  body:has(dialog[open]) {
    overflow: hidden;
  }
  dialog {
    max-width: 100vw;
    max-height: 100vh;
  }
}
